.sign-in {
  box-sizing: border-box;
  max-width: 1280px;
  height: 100vh;

  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  justify-items: center;
  align-content: center;
  margin: auto;
  gap: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

.spline {
  border-radius: 15px;
}
