@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "DynaPuff";
  src: url("../../assets/fonts/DynaPuff/DynaPuff-VariableFont_wdth\,wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "ShadowsIntoLightTwo";
  src: url("../../assets/fonts/ShadowsIntoLightTwo-Regular.ttf")
    format("truetype");
}
