$desktop-breakpoint: 1280px;
$desktop-max-width: 1280px;
$cobalt-blue: #1446a0;
$razzmatazz: #db3069;
$persian-green: #1b998b;
$misty-pink: #ffd9da;
$mustard: #ffdf52;
$ceruean: #0075a2;
$celadon: #a7e8bd;
$rose: #ff5154;
$jasmin: #ffd972;
$primary-text-color: #1f2232;
