@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
.nav-bar {
  &__list {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  &__item-link {
    text-decoration: none;
  }
  &__item {
    list-style: none;
    color: $rose;
    padding: 0.5rem 0rem;
    // border-radius: 20px;
    font-size: 20px;
    padding-bottom: 0.5rem;
    &--active {
      border-bottom: 2px solid black;
    }
    &:hover {
      // background-color: #fbeef4;
      border-bottom: 2px solid black;
    }
  }
}
