@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

.nav-bar {
  &__list {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  &__item-link {
    text-decoration: none;
  }
  &__item {
    list-style: none;
    color: $rose;
    padding: 0.5rem 0rem;
    // border-radius: 20px;
    font-size: 20px;
    padding-bottom: 0.5rem;
    position: relative;
    transition: transform 0.2s ease-in-out;
    &--active {
      border-bottom: 2px solid black;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 6px;
      bottom: 0;
      left: 0;
      border-radius: 30px;
      background-color: #2980b9;
      transition: left 0.3s ease;
      z-index: -1;
      display: none;
    }
    &:hover::after {
      display: block;
      animation: slideDown 0.3s ease forwards, jump 0.3s ease-in-out 3;
    }
  }
}
