@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.header {
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #db3069;
  top: 0;
  height: 119px;

  &__title {
    font-size: 48px;
  }
  &__link {
    text-decoration: none;
  }
}
