@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.header {
  width: 100vw;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  top: 0;
  height: 90px;

  &__title {
    font-size: 40px;
    color: $rose;
  }
  &__link {
    text-decoration: none;
  }
}
