@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.header {
  width: 100vw;

  background-color: #fbf4f5;

  top: 0;

  z-index: 10;
  &--sticky {
    position: fixed;
    z-index: 100;
    top: 0;
    border-bottom: 1px solid #ffd9da;
  }
  &__data {
    padding: 2rem 3rem;
    display: flex;
    max-width: $desktop-max-width;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: 0 auto;
  }
  &__title {
    font-size: 40px;
    color: $persian-green;
    font-weight: 500;
    font-family: "Apple Chancery";
  }
  &__title-1 {
    color: $rose;
  }
  &__title-2 {
    color: #097cee;
  }
  &__title-3 {
    color: #f7cb08;
  }
  &__title-4 {
    color: #14c0ac;
  }
  &__link {
    text-decoration: none;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}
