@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  position: relative;
  color: $rose;

  height: 10vh;
  &__data {
    background-color: #f7f0f3;

    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  &__title {
    font-size: 40px;
    color: $rose;
    font-weight: 500;
    font-family: "Apple Chancery";
    z-index: 100;
  }
  &__list {
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #f7f0f3;

    gap: 4rem;
    padding: 2rem 0;
  }
  &__list-item {
    list-style: none;
    text-decoration: none;
    color: $rose;
  }

  &__chat-widget {
    // position: fixed;
    // bottom: 3rem;
    // right: 24px;
  }
  &__chat-button {
    background-color: $rose;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 10px #ff006e4d;
    transition: transform 1s ease, 1s ease;
    &:hover {
      transform: rotate(360deg); // Full rotation
      background-color: darken($persian-green, 10%);
    }
  }
  &__chat-window {
    position: absolute;
    bottom: 60px;
    right: 0;
    // width: 250px;
    background-color: $persian-green;
    color: white;
    border-radius: 10px;
    padding: 1.5rem;

    box-shadow: 0 2px 10px #ff006e4d;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__chat-header {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__chat-form {
    @include flex;
    gap: 1rem;
    background-color: white;
    padding: 1.5rem 1rem;
    border-radius: 10px;
  }
  &__chat-input {
    resize: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 1rem;
    font-family: "Roboto";
    color: $persian-green;
  }
  &__chat-send {
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    background-color: $persian-green;
    color: white;
    border: none;
    font-weight: 600;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__chat-send-icon {
    rotate: 45deg;
  }
}
