@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
.search {
  height: calc(100vh - 90px);
  position: relative;
  width: 70vw;
  margin: 0 auto;

  &__bar {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 10;
  }
  &__bar-input {
  }
}
.ant-btn {
  background-color: $rose;
  border-radius: 20px;
}
button:hover {
  background-color: $celadon !important;
}
.ant-input:first-child {
  border-radius: 20px;
}
