@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.place-profile {
  &__title-image {
    width: 50vw;
    margin: 0 auto;
    position: relative;
    display: flex;

    flex-direction: column;
    align-items: center;
  }
  &__title {
    color: white;

    padding: 2rem;
    position: absolute;
    // top: 20px;
    // left: 0;

    font-size: 32px;
  }
  &__image {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    object-position: top;
    border-radius: 10px;
    position: relative;
    &::after {
      position: absolute;
      width: 250px;
      height: 150px;
      content: "";
      top: 0;
      left: 0;
      background: black;
      border-radius: 20px;
      opacity: 15%;
    }
  }

  &__summary {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);

    padding: 1.5rem;
    position: absolute;
    bottom: 20%;
    left: 0px;
    color: white;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
  }
  &__places {
    display: flex;
    scroll-behavior: smooth;
    scrollbar-width: $desktop-max-width;

    overflow: scroll;
    gap: 1.5rem;
    padding: 2rem 0;

    align-items: center;
    justify-content: flex-start;
  }
  &__place {
    position: relative;
    list-style: none;
    @include flex;
    justify-content: center;

    gap: 0.5rem;
    width: fit-content;
    border-radius: 20px;
    position: relative;

    &::after {
      position: absolute;
      width: 250px;
      height: 150px;
      content: "";
      top: 0;
      left: 0;
      background: linear-gradient(#ffffff, #000000);
      border-radius: 20px;
      opacity: 40%;
    }
    &:first-child {
      margin-left: 3rem;
    }
  }

  &__place-img {
    border-radius: 20px;
    width: 250px;
    height: 150px;
    object-fit: cover;
    object-position: center;
  }

  &__place-name {
    position: absolute;
    right: 5px;
    bottom: 10px;
    padding: 0.5rem 1rem;
    color: white;
    z-index: 2;
  }
  &__plus-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ffffff;
    z-index: 2;
    cursor: pointer;
  }
  &__modal-form {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
  }
}
