@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.place-profile {
  &__title-image {
    // position: relative;
  }
  &__title {
    // color: white;
    text-align: center;
    padding: 2rem;
    // position: absolute;
    // top: 20px;
    // left: 100px;
  }
  // &__image {
  //   width: 100%;
  //   max-height: 500px;
  //   object-fit: contain;
  //   object-position: top;
  //   border-radius: 10px;
  // }
  &__places {
    display: flex;
    scroll-behavior: smooth;
    scrollbar-width: $desktop-max-width;

    overflow: scroll;
    gap: 1.5rem;
    padding: 2rem 0;

    align-items: center;
    justify-content: flex-start;
  }
  &__place {
    position: relative;
    list-style: none;
    @include flex;
    justify-content: center;

    gap: 0.5rem;
    width: fit-content;
    border-radius: 20px;
    position: relative;

    &::after {
      position: absolute;
      width: 250px;
      height: 150px;
      content: "";
      top: 0;
      left: 0;
      background: linear-gradient(#ffffff, #000000);
      border-radius: 20px;
      opacity: 40%;
    }
    &:first-child {
      margin-left: 3rem;
    }
  }

  &__place-img {
    border-radius: 20px;
    width: 250px;
    height: 150px;
    object-fit: cover;
    object-position: center;
  }

  &__place-name {
    position: absolute;
    right: 5px;
    bottom: 10px;
    padding: 0.5rem 1rem;
    color: white;
    z-index: 2;
  }
  &__plus-icon {
    position: absolute;
    right: 10px;
    top: 10px;

    z-index: 2;
  }
}
.modal {
  &__selected-item {
    padding: 0 1rem;
  }
  &__button {
    margin: 0 1rem;
  }
}
