.home {
  text-align: center;

  &__illustration {
    width: 200px;
    position: absolute;

    &--1 {
      width: 400px;
      bottom: -30px;
      left: 0;
    }
    &--2 {
      top: 50%;
      right: 0;
    }
  }
}
